BOT_TOKEN=
TEST_MODE= True | False
AWS_ACCESS_KEY=
AWS_SECRET=
TEST_GUILD_ID=1300902099437096960
LOG_WEBHOOK_URL=
LOG_WEBHOOK_URL_TEST=https://discord.com/api/webhooks/1356313371116437524/4s4dJmXkzjnnkusw6qwBdWpC7dBWFeZIrUSBEzoeYw3yAKj4SPqO7kOoSLpFzzQn5yPh